body[data-theme="dark"] {
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;

    --text: #cdd6f4;
    --subtext1: #cdd6f4;
    --subtext0: #a6adc8;

    /* Elevation 0-2 is for elevated surfaces like code block, panel etc */
    --suface2: #585b70;
    --surface1: #45475a;
    --surface0: #313244;

    /* Overlays are for Menus, tooltips, floating overlays */
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;

    --mauve: #cba6f7;
    --peach: #fab387;
}
