body[data-theme="dark-mc"] {
  --md-sys-color-primary: rgb(234 212 255);
  --md-sys-color-surface-tint: rgb(216 186 250);
  --md-sys-color-on-primary: rgb(49 25 78);
  --md-sys-color-primary-container: rgb(161 133 193);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(214 218 255);
  --md-sys-color-on-secondary: rgb(22 33 85);
  --md-sys-color-secondary-container: rgb(131 141 200);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 209 215);
  --md-sys-color-on-tertiary: rgb(72 18 31);
  --md-sys-color-tertiary-container: rgb(201 122 136);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 208 218);
  --md-sys-color-on-error: rgb(71 18 36);
  --md-sys-color-error-container: rgb(199 122 143);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(21 18 24);
  --md-sys-color-on-background: rgb(232 224 232);
  --md-sys-color-surface: rgb(21 18 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(74 69 78);
  --md-sys-color-on-surface-variant: rgb(226 217 229);
  --md-sys-color-outline: rgb(183 175 186);
  --md-sys-color-outline-variant: rgb(149 142 152);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(232 224 232);
  --md-sys-color-inverse-on-surface: rgb(44 41 47);
  --md-sys-color-inverse-primary: rgb(85 60 115);
  --md-sys-color-primary-fixed: rgb(238 219 255);
  --md-sys-color-on-primary-fixed: rgb(28 1 57);
  --md-sys-color-primary-fixed-dim: rgb(216 186 250);
  --md-sys-color-on-primary-fixed-variant: rgb(66 42 96);
  --md-sys-color-secondary-fixed: rgb(222 224 255);
  --md-sys-color-on-secondary-fixed: rgb(0 9 64);
  --md-sys-color-secondary-fixed-dim: rgb(186 195 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(40 50 103);
  --md-sys-color-tertiary-fixed: rgb(255 217 222);
  --md-sys-color-on-tertiary-fixed: rgb(44 0 12);
  --md-sys-color-tertiary-fixed-dim: rgb(255 178 190);
  --md-sys-color-on-tertiary-fixed-variant: rgb(93 34 47);
  --md-sys-color-surface-dim: rgb(21 18 24);
  --md-sys-color-surface-bright: rgb(71 67 73);
  --md-sys-color-surface-container-lowest: rgb(9 7 11);
  --md-sys-color-surface-container-low: rgb(31 28 34);
  --md-sys-color-surface-container: rgb(42 39 44);
  --md-sys-color-surface-container-high: rgb(53 49 55);
  --md-sys-color-surface-container-highest: rgb(64 60 66);
}
