---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Code } from "astro:components";
const js_code = `const n = 5;
for (let i = 0; i < n; i++) {
    solve();
}`;
---
<BaseLayout>
    <main>
        <h1>Hi!</h1>
        <p>
            I go by Maupse, and I love mathematics and computer science!
            This is my portfolio / blog website, it is currently a work in progress.
            In the future I will share the things I learned here.
            Until then you can expect a lot of testing here.
        </p>
        <Code code={js_code} lang="js"/>
        <pre><code>{js_code}</code></pre>
    </main>
</BaseLayout>
